<% provide(:title, @user.name) %>
<h1>
<%= gravatar_for @user %>
<%= @user.name %>
</h1>
<% if signed_in? %>
  <section>
    <%= render 'shared/subject_form' %>
  </section>
  <%= form_for(@mark) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
      <%= f.text_field :date %>
      <%= f.text_field :id %>
    </div>
    <%= f.submit "Save Events", class: "btn btn-large btn-primary" %>
  <% end %>

  <input id="save" type="button" value="Dummy">
  <textarea id="debug_text">test</textarea>
  <% if have_subject?(@user) %>
    <%= render 'shared/subject' %>
    <div id=calendar>Calendar</div>
  <% end %>
<% end %>


