<% provide(:title, @user.name) %>
<h1>
<%= gravatar_for @user %>
<%= @user.name %>
</h1>
<% if signed_in? %>
  <section>
    <%= render 'shared/subject_form' %>
  </section>
  <%= render 'shared/mark_form' %>
  <textarea id="debug_text"><%= date_infos(@user) %></textarea>
  <% if have_subject?(@user) %>
    <%= render 'shared/subject' %>
    <div id=calendar>Calendar</div>
  <% end %>
<% end %>


