<%= form_for(@mark) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :date %>
    <%= text_field_tag :mark_subject_name %>
  </div>
  <%= f.submit "Save Events", class: "btn btn-large btn-primary" %>
<% end %>
