<%= form_for(@subject, remote: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.label "add new subject" %>
    <%= f.text_field :name %>
    <%= f.submit "create", class: "btn btn-info" %>
  </div>
<% end %>
