<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <nav>
        <ul class="nav pull-left">
          <% if signed_in? %>
            <li><p class="user_name"><%= link_to gravatar_for(current_user), current_user %> <%= link_to current_user.name, current_user %></p></li>
          <% end %>
          <li><%= link_to "Home", root_path %></li>
          <% if signed_in? %>
            <li><%= link_to "Statistics", statistics_path %></li>
            <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
          <li><%= link_to "How to use", "http://saj-kz.hatenablog.com/entry/2014/08/06/235320" %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
